.kozepre{
    margin: auto;
}
.chat{  
    height: 800px;
}
body{
    background-color: gray;
}
.input{
    background-color: rgb(173, 123, 5);
    border: none;
    &:focus{
        background-color: rgb(173, 123, 5);
    }

}
